<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Lotteria</title>
    <link rel="stylesheet" th:href="@{/styles/font.css}"/>
    <link rel="stylesheet" th:href="@{/styles/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/styles/lotteria.css}"/>
    <link rel="stylesheet" href="styles/lotteria.css">
    <link rel="stylesheet" href="styles/normalize.css">
</head>
<body>
<header class="title-box wrap-box">
    <h3 class="inner-box" sec:authorize="hasRole('GUEST')">롯데리아</h3>
    <h3 class="inner-box" sec:authorize="hasRole('ADMIN')">롯데리아(관리자)</h3>
</header>
<article class="wrap-box">
    <section class="inner-box tab-box">
        <label aria-label="추천메뉴 탭" role="tab">
            <span>추천메뉴</span>
            <input checked="checked" hidden="hidden" name="tab-content" type="radio"/>
        </label>
        <label aria-label="전체메뉴 탭" role="tab">
            <span>전체메뉴</span>
            <input hidden="hidden" name="tab-content" type="radio"/>
        </label>
        <th:block sec:authorize="hasRole('ADMIN')">
            <label class="modal-btn add-menu-show" aria-label="추천메뉴 탭" role="tab">
                <span>메뉴추가</span>
            </label>
        </th:block>
        <label>
            <input id="hamburger-list" class="search-field" type="text">
        </label>
    </section>
    <section class="inner-box list-box">
        <div class="hamburger-box">
            <img class="hamburger-image" alt="데리버거" src="/images/데리버거.png"/>
            <p class="hamburger-data hamburger-name">데리버거</p>
            <p class="hamburger-data hamburger-price">3,500원</p>
        </div>
    </section>
    <!--        <button id="test-button" onclick="window.alert('버튼 클릭')">나만의 버튼</button>-->
</article>
<dialog id="modal">
    <div>
        <form action="/lotteria-add-menu" method="POST" enctype="multipart/form-data">
            <h1>메뉴추가</h1>
            <ul class="options">
                <li class="option check">
                    <label for="menu-new">신메뉴</label>
                    <input type="checkbox" id="menu-new" name="isNew" value="true" hidden>
                    <label for="menu-recomended">추천메뉴</label>
                    <input type="checkbox" id="menu-recomended" name="isRecommended" value="true" hidden>
                    <input type="hidden" name="isRecommended" value="false" hidden>
                    <input type="hidden" name="isNew" value="false" hidden>
                    <label for="menu-image">이미지</label>
                    <input type="file" accept="image/*" id="menu-image" name="image" hidden required>
                </li>
                <li class="option">
                    <label for="menu-name">메뉴이름</label>
                    <input required autofocus type="text" id="menu-name" name="name">
                </li>
                <li class="option">
                    <label for="menu-price">가격</label>
                    <input required type="number" id="menu-price" name="price">
                </li>
            </ul>
            <div class="buttons">
                <button>메뉴추가</button>
                <button class="hide-form-btn" type="button">취소하기</button>
            </div>

        </form>
    </div>
</dialog>
<script>

    window.addEventListener("DOMContentLoaded", async () => {
        const $ = (selector) => document.querySelector(selector);
        const $$ = (selector) => document.querySelectorAll(selector);
        // 이미지 여부 확인 함수
        const isExistImageSrc = async (src) => {
            return new Promise((resolve, reject) => {
                const img = new Image();
                img.src = src;
                img.onerror = () => resolve(false);
                img.onload = () => resolve(true);
            });
        }
        // 모달 함수
        const useModalForm = (dialogElement) => {
            // dialog태그가 아니면 리턴
            if (dialogElement.tagName !== "DIALOG") throw new Error("dialog태그의 엘리먼트가 아닙니다.");
            const $dialog = dialogElement;
            if (!$dialog.querySelector("form")) throw new Error("dialog태그의 자식중 form태그가 없습니다.");
            const $form = $dialog.querySelector("form")
            const $title = $form.querySelector("h1");
            let $$showBtnList = [];
            let $$hideBtnList = [];
            let submitEvent = () => {
            };
            $dialog.addEventListener("click", () => {
                if (!e.target.closest("form")) $dialog.close();
            })
            $form.addEventListener("submit", (e) => {
                submitEvent(e);
            })
            const getForm = () => $form;
            const addShowBtn = (element, method, uri, title, callback = () => {
            }) => {
                element?.addEventListener("click", () => {
                    setTitle(title);
                    setMethod(method);
                    setUri(uri);
                    $dialog.showModal();
                    callback();
                });
                $$showBtnList = [...$$showBtnList, element];
            }

            const addHideBtn = (element, callback = () => {
            }) => {
                element?.addEventListener("click", () => {
                    $dialog.close();
                    callback();
                });
                $$hideBtnList = [...$$hideBtnList, element];
            }
            const setTitle = (text) => {
                $title.innerText = text;
            }
            const clear = () => {
                $form.action = "";
                $form.method = "";
                [...$form].forEach(el => {
                    if (el.tagName !== "INPUT") return;
                    switch (el.type) {
                        case "hidden" :
                            break;
                        case "checkbox" :
                            el.checked = false;
                            break;
                        default :
                            el.value = "";
                    }
                })
                return true;
            }
            const setSubmitFunc = (func) => {
                if (typeof func !== "function") throw new Error("타입이 함수가 아니에요")
                submitEvent = func;
            }
            const setUri = (uri) => $form.action = uri;
            const setMethod = (method) => $form.method = method;

            return {addShowBtn, addHideBtn, setTitle, clear, setSubmitFunc, setUri, setMethod, getForm};
        }

        const $modal = document.querySelector("dialog");
        // useModalForm(dialogElement) dialogElement 요소 작식중 formElement 요소가 있어야 한다.
        const modalForm = useModalForm($modal);
        // addShowBtn(Element, Method, Uri, Title)
        modalForm.addShowBtn($(".add-menu-show"), "POST", "/lotteria-add-menu", "메뉴추가", () => {
            const $name = modalForm.getForm().name;
            $name.readOnly = false
        });

        modalForm.addHideBtn($(".hide-form-btn"), () => {
            const $name = modalForm.getForm().name;
            $name.value = "";
        });
        const setMenus = async (searchKeyword = "") => {
            const $hamburgerList = document.querySelector(".list-box");
            // searchKeyword = searchKeyword.match(/[!@#$%^&*]/, "") ?? "";
            if (searchKeyword != "") {
                searchKeyword = [...searchKeyword].reduce((acc, char) => {
                    if (char.match(/[!@#$%^&*~?\/]/)) {
                        return acc + "\\" + char;
                    }
                    return acc + char;
                }, '')
            }
            searchKeyword = encodeURIComponent(searchKeyword);
            const hamburgers = await fetch("lotteria-menus?hamburgerName=" + searchKeyword).then(data => data.json());
            let hamburgersHTML = "";
            for (const hamburger of hamburgers) {
                const hamburgerBox = `
                <form action="/history" method="POST" class="sub-form hamburger-buy-form hamburger-box ${hamburger.isNew ? 'new' : ''} ${hamburger.isRecommended ? 'recommend' : ''}">
                    <input type="text" name="name" value="${hamburger.name}" hidden>
                    <input type="number" name="price" value="${hamburger.price}" hidden>
                    <div class="hamburger-image">
                        <img class="hamburger-image" alt="${hamburger.name}" src="${hamburger.imagePath}" />
                        <button class="buy">구매하기</button>
                    </div>
                    <div class="hamburger-content">
                        <div class="hamburger-text">
                            <p class="hamburger-data hamburger-name">${hamburger.name}</p>
                            <p class="hamburger-data hamburger-price">${hamburger.price.toLocaleString() + '원'}</p>
                        </div>
                        <div class="hamburger-btns">
                            <div class="hamburger-edit-btn hamburger-btn" data-burger-name="${hamburger.name}">수정</div>
                            <div class="hamburger-remove-btn hamburger-btn" data-burger-name="${hamburger.name}">삭제</div>
                        </div>
                    </div>
                </form>`
                hamburgersHTML = hamburgersHTML + hamburgerBox;
            }
            $hamburgerList.innerHTML = hamburgersHTML;
            const $$hamburgerRemoveBtn = document.querySelectorAll(".hamburger-remove-btn");
            $$hamburgerRemoveBtn.forEach(btn => btn.addEventListener("click", async (e) => {
                const hamburgerName = e.target.dataset.burgerName;
                const res = await fetch(`/lotteria-menu/${hamburgerName}`, {
                    method: "DELETE",
                    headers: {
                        "Content-Type": "application/json"
                    }
                }).then(data => data.json()) ?? null
                if (res == null) alert("실패~")
                alert(res.result);
                setMenus();
            }))
            $$(".hamburger-edit-btn").forEach(el => {
                // modalForm.addShowBtn(el, "PUT", `/lotteria-edit-menu/${el.dataset.burgerName}`, "메뉴수정", ()=>{
                //     const $name = modalForm.getForm().name;
                //     $name.value = el.dataset.burgerName;
                //     $name.readOnly = true;
                // });
                modalForm.addShowBtn(el, "POST", `/lotteria-add-menu`, "메뉴수정", () => {
                    const $hamburgerBox = el.closest(".hamburger-box");
                    const $name = modalForm.getForm().name;
                    $name.image = $hamburgerBox.querySelector("img");
                    $name.value = el.dataset.burgerName;
                    $name.readOnly = true;
                });

            })

            $$(".hamburger-buy-form").forEach(el => {

                // el => form 태그

                el.addEventListener("submit", async (e) => {
                    e.preventDefault();
                    const res = await fetch("/hamburger-sell", {
                        method: "post",
                        body: new FormData(el)
                    }).then(data => data.text());
                    alert(res);
                    setMenus();
                })
            })
        }
        setMenus();


        // 검색 기능
        document.querySelector("input#hamburger-list").addEventListener("keyup", async (e) => {
            const code = e.code;
            if (code === "Enter") {
                await setMenus(e.target.value);
                e.target.value = "";
            }
        })


    });


</script>
</body>
</html>